body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section.home{
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 480px;
    
}
.home ul {
        margin:0  auto;

}
.home ul li {
list-style-type: none; 
    display: inline;
}
.home ul li a{
    display: inline-block;
    margin-left: 0.50em;
    padding: 1em 1.5em;
    letter-spacing: 0.20em;
    text-decoration: none;
    font-size: 15px;;
    font-weight: 600;
    color: #FFF;
}
.home ul li a.act{
    background: #ff6816;
    border-radius: 8px;
}
.home h1{
    color: #fff;
    font-size: 3.5em;
    font-weight: 700;
}
.home span{
    font-style: italic;
    color:rgba(255,255,255,0.8);;
    font-size: 12px;
    letter-spacing: 0.1em;
}